* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #202020;
  --text-color: #ffffff;
  --button-color: #2379ca;
  --button-color-hover: #2e82d0;
  --button-text-color: #ffffff;
  --accent-color: #6fd2e3;
  --table-border: #dedede;

  --settingBtns-background-color: #4f4f4f;
  --settingBtn-color: #f4f4f4;
  --settingBtn-active-color: #fff;
  --settingToggle-hover-background: var(--settingBtns-background-color);
  --settingBtn-highlight-border-color: var(--table-border);
  --settingBtn-active-background-color: var(--button-color);

  --answer-border-color: rgba(255, 255, 255, 0.4);

  --question-border-left: rgba(255, 255, 255, 0.5);

  --modal-background-color: var(--background-color);
  --modal-color: var(--text-color);
  --modal-popup-background-color: rgba(140, 140, 140, 0.3);

  --details-border: var(--table-border);

  --strumming-active-cell-background: var(--button-color);

  --flat-btn-hover-background: var(--settingBtns-background-color);

  --correction-button-border: rgba(255, 255, 255, 0.5);
  --correction-button-selected-background: rgba(255, 255, 255, 0.2);
}

h1 {
  margin-bottom: 1em;
}

h4 {
  margin-bottom: 0.7em;
}

p {
  font-size: 1.1em;
  font-weight: 300;
}

.text-large {
  font-size: 1.5em;
}

.text-primary {
  color: var(--accent-color);
}

body {
  background: var(--background-color);
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  padding: 2em;
  margin: 0;
}

body:has(.modal.active),
body:has(.popup.active) {
  overflow: hidden;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.mb {
  margin-bottom: 2em;
}

.mr {
  margin-right: 1em;
}

.mt {
  margin-top: 1em;
}

.mb-small {
  margin-bottom: 1em;
}

.mb-xsmall {
  margin-bottom: 0.4em;
}

.mb-0 {
  margin-bottom: 0;
}
.mw-100 {
  max-width: 100%;
  overflow: auto;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.align-bottom {
  align-items: bottom;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
  border-radius: 5px;
}

.gameBtns {
  display: grid;
  grid-template-columns: 1fr;
}

button.gameBtn {
  background-color: var(--button-color);
  padding: 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--button-text-color);
  border: none;
  box-shadow: 2px 2px 5px black;
  font-size: 1em;
}

button.gameBtn:hover {
  background-color: var(--button-color-hover);
}

button.gameBtn.small {
  font-size: 0.7em;
  padding: 1em 2em;
}

button.gameBtn > span {
  font-size: 0.8em;
  font-weight: 100;
  text-transform: none;
  font-style: italic;
  margin-top: 0.2em;
  display: inline-block;
}

.settingToggle {
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 5px;
}

.settingToggle:hover {
  background-color: var(--settingToggle-hover-background);
}

.settingBtns {
  background-color: var(--settingBtns-background-color);
  border-radius: 5px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 5px;
}

.settingBtns.fullWidth {
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}

button.settingBtn {
  background-color: transparent;
  color: var(--settingBtn-color);
  border: none;
  padding: 0.5em;
}

button.settingBtn.highlight {
  border: 1px solid var(--settingBtn-highlight-border-color);
}

#lang {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
}

#lang .settingBtn {
  width: 60px;
}

button.settingBtn.active {
  color: var(--settingBtn-active-color);
  background-color: var(--settingBtn-active-background-color);
  font-weight: bold;
}

.question {
  margin-bottom: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-x: hidden;
}

.answer {
  padding: 0.3em 1em;
  border: 1px solid var(--answer-border-color);
  font-size: 1.1em;
  margin: 0;
}

.question .extraInfos {
  display: none;
  text-align: right;
  font-style: italic;
  color: var(--table-border);
}

.question.answered .extraInfos {
  display: block;
}

#game > div {
  border-left: 3px solid var(--question-border-left);
  padding-left: 1em;
}

.modal {
  background-color: var(--modal-background-color);
  color: var(--modal-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 2em;
  transform: translateX(-100%);
  transition: transform 0.2s linear;
  z-index: 100;
}

.modal.active {
  transform: translateX(0);
}

.popup {
  display: none;
  background-color: var(--modal-popup-background-color);
  color: var(--modal-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
}

.popup.active {
  display: block;
}

.popup > .content {
  padding: 2em;
  background-color: var(--modal-background-color);
  border-radius: 5px;
  max-width: 500px;
  margin: 50px auto;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

details {
  border: 1px solid var(--details-border);
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  margin-bottom: 1em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}

details[open] {
  padding: 0.5em;
}

details[open] > summary {
  border-bottom: 1px solid var(--details-border);
  margin-bottom: 0.5em;
}

details details {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-bottom: 1em;
}

table td {
  padding: 5px;
  border: 1px solid var(--table-border);
  width: 40px;
  text-align: center;
}

.accord,
.gamme {
  margin-bottom: 0.7em;
}

table.strumming td {
  border: 1px solid var(--table-border);
}

#patterns table.strumming td {
  border: 1px solid var(--table-border);
}

table.strumming {
  margin-right: 1em;
  flex-shrink: 0;
}

.partition {
  display: flex;
  transition: transform 1s linear;
}

table.strumming td.active {
  background-color: var(--strumming-active-cell-background);
}

.soundSetting {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  border-radius: 5px;
}

.soundSetting:hover {
  background-color: var(--flat-btn-hover-background);
}

#accords .accord {
  position: relative;
}

#accords .accord .guitarWrapper {
  position: absolute;
  display: none;
  z-index: 10000;
  background-color: rgb(97, 97, 97);
  color: white;
  border: 1px solid black;
  left: 30%;
  top: -50%;
}

#accords .accord:hover .guitarWrapper {
  display: block;
}

@media screen and (max-width: 400px) {
  body,
  .modal {
    padding: 15px;
    padding-top: 2em;
  }

  .settingBtns {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }

  .popup > .content {
    margin: 20px 15px;
    padding: 2em;
  }
}

.question .correction {
  display: none;
}

.question.answered .correction {
  display: flex;
}

.correction button {
  background-color: transparent;
  flex-grow: 1;
  border: 3px solid var(--correction-button-border);
  margin: 0.5em;
  padding: 0.2em;
  font-size: 2em;
}

.correction button.selected {
  background-color: var(--correction-button-selected-background);
}

footer {
  border-top: 1px solid var(--table-border);
  padding: 1em;
}

a {
  text-decoration: none;
  color: var(--button-color-hover);
}

.question {
  position: relative;
}

.question.timed:before {
  content: "";
  position: absolute;
  width: 5px;
  background-color: var(--button-color-hover);
  left: 0;
  bottom: 0;
  animation: down var(--question-timer) linear;
}

.question.timed.answered:before {
  animation: none;
}

@keyframes down {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

select,
input {
  background-color: var(--background-color);
  border: 2px solid var(--button-color);
  padding: 1em 2em;
  color: var(--text-color);
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}
